// menus
.menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-nav {
  display: flex;
  align-items: flex-end;
}

// mobile view
.menu--main {
  display: flex;
  li {
    padding: 0 calc($spacing-1 / 2);
    position: relative;

    a {
      font-size: 1.25em;
      text-decoration: none;
    }
  }
}

// underline animation
.menu--main li a {
  position: relative;
  @include animated-underline($color: $primary, $height: 2px);
}
