/*------------------------------------*\
    Sizes
\*------------------------------------*/
$bp-1: 500px;
$bp-2: 700px;
$bp-3: 900px;
$bp-4: 1100px;
$bp-5: 1300px;
$bp-6: 1500px;
$bp-7: 1700px;

$bp-menu: $bp-3;

$container: 800px;

// spacing
$spacing-1: 1.5rem;
$spacing-2: 3rem;

/*------------------------------------*\
    Font Variables
\*------------------------------------*/
$copy-face: "Lexend Deca", sans-serif;
$headings-face: $copy-face;
$headings-weight: 800;

/*------------------------------------*\
    Colours
\*------------------------------------*/
$white: #fff;
$offwhite: #f2f2f2;
$grey-light: #cbcbcb;
$grey: #aeaeae;
$grey-dark: #444;
$black: #000;

$copy: $black;

$primary: #a4d2e6;
$secondary: #bdba68;

// Backgrounds
$canvas-light: #e6e3d8;
$canvas-medium: #d3c9b9;
$canvas-dark: $grey-dark;

/*------------------------------------*\
    Gutenberg color options
\*------------------------------------*/
// -- see editor-color-palette in gutenberg-settings.php
$colors: (
  white: $white,
  black: $black,
  grey: $grey,
  primary: $primary,
);

@each $name, $color in $colors {
  .has-#{"" + $name}-color {
    color: $color;
  }

  .has-#{"" + $name}-background-color {
    background-color: $color;
  }
}
