.site-header {
  background-color: $white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.header__inner {
  @include center-block;
  width: 95%;
  max-width: $container;
  display: flex;
  justify-content: space-between;
}

.site-branding {
  align-self: flex-end;
  padding-right: $spacing-1;
  width: 120px;
  @include mq($bp-2) {
    width: 200px;
  }
}

.main-nav {
  display: block;
}

button.menu-button {
  text-align: right;
  margin-bottom: -8px;
  font-size: 0.8em;

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: $black;
  }
}
