.site-header {
  background-color: $white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.header__inner {
  @include center-block;
  width: 95%;
  max-width: $container;
  display: flex;
  justify-content: space-between;
}

.site-branding {
  align-self: flex-end;
  padding-right: $spacing-1;

  .site-logo {

  }

  .site-title {
    // display: none;
    margin: 0;
    font-size: 2em;
    text-align: center;

    a {
      text-decoration: none;
    }
  }
}

.main-nav {
  display: block;
}

button.menu-button {
  text-align: right;
  margin-bottom: -8px;
  font-size: 0.8em;

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: $black;
  }
}
