.site-header {
  background-color: $white;
  padding-top: 12px;
  padding-bottom: 12px;

  position: sticky;
	top: 0;
	z-index: 100;
	transition: all 0.2s ease;

  &.is-scrolled {
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  }
}

.header__inner {
  @include center-block;
  width: 95%;
  max-width: $container;
  display: flex;
  justify-content: space-between;
}

.site-branding {
  align-self: flex-end;
  padding-right: $spacing-1;
  transition: width 0.2s ease;
  width: 120px;
  @include mq($bp-2) {
    width: 200px;
  }

  .is-scrolled & {
    width: 60px;
  }

  img {
    &:hover {
      filter:brightness(1.05);
    }
  }
}

.main-nav {
  display: block;
  margin-bottom: 4px;
}

button.menu-button {
  text-align: right;
  margin-bottom: -8px;
  font-size: 0.8em;

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: $black;
  }
}
