.block-post-archive {
  margin-top: $spacing-2;
  margin-bottom: $spacing-2;
}

.post-preview {
  padding-top: $spacing-1;
  padding-bottom: $spacing-1;
  border-top: 1px solid $offwhite;
}

.post-preview__link {
  text-decoration: none;

  &:hover {
    h3:after {
      background-color: $primary;
      // transform: scale(1.2);
    }
  }

  h3 {
    margin-top: 0;
    position: relative;
    padding-right: 26px;

    &:after {
      position: absolute;
      top: 2px;
      right: 6px;

      content: '';
      width: 24px;
      height: 24px;
      border: 3px solid $primary;
      border-radius: 50%;
    }
  }

  p {
    margin-bottom: 0;
    color: $grey-dark;
  }
}
