.block-post-archive {
  margin-top: $spacing-2;
  margin-bottom: $spacing-2;
}

.post-preview {
  border-top: 1px solid $offwhite;
}

.post-preview__link {
  display: block;
  position: relative;
  padding-top: $spacing-1;
  padding-bottom: $spacing-1;
  padding-right: 50px;
  text-decoration: none;

  &:hover {
    &::after {
      box-shadow: inset 0 0 0 12px $primary;
    }
  }

  &:after {
    position: absolute;
    top: 26px;
    right: 6px;

    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-sizing: border-box;

    /* ring */
    box-shadow: inset 0 0 0 3px $primary;
    transition: box-shadow 0.2s ease-in-out;
  }

  h3 {
    margin-top: 0;
    display: inline-block;
    @include animated-underline($color: $primary, $height: 2px);
  }

  p {
    margin-bottom: 0;
    color: $grey-dark;
  }
}
