.block-post-archive {
  margin-top: $spacing-2;
  margin-bottom: $spacing-2;
}

.post-preview {
  border-top: 1px solid $offwhite;
}

.post-preview__link {
  display: block;
  position: relative;
  padding-top: $spacing-1;
  padding-bottom: $spacing-1;
  padding-right: 50px;
  text-decoration: none;

  &:hover {
    .icon-arrow {
      transform: translateX(10px);
    }
  }


  h3 {
    margin-top: 0;
    display: inline-block;
    @include animated-underline($color: $primary, $height: 2px);
  }

  p {
    margin-bottom: 0;
    color: $grey-dark;
  }

  .icon-arrow {
    position: absolute;
    right: 0;
    top: 26px;
    background-image: url('../../assets/images/icon-arrow-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 40px;
    transition: transform 0.2s ease;
  }
}
